# common libraries
numpy
matplotlib
# openGL rendering
pyglet
# environment imports
gym
git+git://github.com/maximecb/gym-miniworld@b98ba02#egg=gym-miniworld
# install pytorch libraries
-f https://download.pytorch.org/whl/cu113/torch_stable.html
torch==1.10.0+cu113
torchvision==0.11.1+cu113
torchaudio===0.10.0+cu113